In [11]:
import pandas as pd
#from pandas.plotting import scatter_matrix
#import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
#from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn import preprocessing

In [12]:
dataset = pd.read_csv("readydata1.csv")

In [13]:

dataset

,Sex_ Female,Race_ White,Employment class_ ?,Employment class_ Federal-gov,Employment class_ Local-gov,Employment class_ Private,Employment class_ Self-emp-inc,Employment class_ Self-emp-not-inc,Employment class_ State-gov,Employment class_ Without-pay,...,Occupation_ Tech-support,Occupation_ Transport-moving,Married,Age_normalize,Education_years_n,Fnlwgt_normalize,Work_hours_per_week_n,Capital_n,US_born,Salary_<=50K
0,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0.452055,0.533333,0.064057,0.479592,-0.134666,1,1
1,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0.136986,0.533333,0.087600,0.530612,-0.134666,1,1
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0.178082,0.533333,0.091680,0.397959,-0.134666,0,1
3,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0.315068,0.533333,0.116918,0.469388,-0.134666,1,1
4,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0.479452,0.600000,0.068100,0.397959,-0.134666,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37995,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0.082192,0.533333,0.452056,0.397959,-0.134666,1,1
37996,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0.397260,0.866667,0.172383,0.500000,-0.398198,1,0
37997,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0.369863,0.800000,0.107400,0.397959,-0.134666,1,1
37998,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0.027397,0.466667,0.073624,0.173469,-0.134666,1,1
37999,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0.301370,0.733333,0.235833,0.500000,-0.134666,1,0

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38000 entries, 0 to 37999
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Sex_ Female                         38000 non-null  int64
 1   Race_ White                         38000 non-null  int64
 2   Employment class_ ?                 38000 non-null  int64
 3   Employment class_ Federal-gov       38000 non-null  int64
 4   Employment class_ Local-gov         38000 non-null  int64
 5   Employment class_ Private           38000 non-null  int64
 6   Employment class_ Self-emp-inc      38000 non-null  int64
 7   Employment class_ Self-emp-not-inc  38000 non-null  int64
 8   Employment class_ State-gov         38000 non-null  int64
 9   Employment class_ Without-pay       38000 non-null  int64
 10  Occupation_ ?                       38000 non-null  int64
 11  Occupation_ Adm-clerical            38000 non-null  int64
 12  Occupation_ Armed-Forces            38000 non-null  int64
 13  Occupation_ Craft-repair            38000 non-null  int64
 14  Occupation_ Exec-managerial         38000 non-null  int64
 15  Occupation_ Farming-fishing         38000 non-null  int64
 16  Occupation_ Handlers-cleaners       38000 non-null  int64
 17  Occupation_ Machine-op-inspct       38000 non-null  int64
 18  Occupation_ Other-service           38000 non-null  int64
 19  Occupation_ Priv-house-serv         38000 non-null  int64
 20  Occupation_ Prof-specialty          38000 non-null  int64
 21  Occupation_ Protective-serv         38000 non-null  int64
 22  Occupation_ Sales                   38000 non-null  int64
 23  Occupation_ Tech-support            38000 non-null  int64
 24  Occupation_ Transport-moving        38000 non-null  int64
 25  Married                             38000 non-null  int64
 26  Age_normalize                       38000 non-null  float64
 27  Education_years_n                   38000 non-null  float64
 28  Fnlwgt_normalize                    38000 non-null  float64
 29  Work_hours_per_week_n               38000 non-null  float64
 30  Capital_n                           38000 non-null  float64
 31  US_born                             38000 non-null  int64
 32  Salary_<=50K                        38000 non-null  int64
dtypes: float64(5), int64(28)
memory usage: 9.6 MB

In [15]:
array = dataset.values
X = array[:,0:-1]
Y = array[:,-1]
X_scaled = preprocessing.scale(X)

In [16]:
models=[]
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
#models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
#models.append(('SVM', SVC()))
models.append(('RFC', RandomForestClassifier()))

In [17]:
results=[]
names=[]

for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=7, shuffle=True)
    cv_results = model_selection.cross_val_score(model, X_scaled, Y, cv=kfold, scoring='accuracy')
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

LR: 0.845974 (0.003877)
LDA: 0.836632 (0.006512)
CART: 0.935184 (0.003459)
NB: 0.471605 (0.018990)
RFC: 0.949211 (0.002770)

In [8]:
CL = RandomForestClassifier()
CL.fit(X_scaled, Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
test = pd.read_csv('readydatatest1.csv')

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  10000 non-null  int64
 1   Sex_ Female                         10000 non-null  int64
 2   Race_ White                         10000 non-null  int64
 3   Employment class_ ?                 10000 non-null  int64
 4   Employment class_ Federal-gov       10000 non-null  int64
 5   Employment class_ Local-gov         10000 non-null  int64
 6   Employment class_ Private           10000 non-null  int64
 7   Employment class_ Self-emp-inc      10000 non-null  int64
 8   Employment class_ Self-emp-not-inc  10000 non-null  int64
 9   Employment class_ State-gov         10000 non-null  int64
 10  Employment class_ Without-pay       10000 non-null  int64
 11  Occupation_ ?                       10000 non-null  int64
 12  Occupation_ Adm-clerical            10000 non-null  int64
 13  Occupation_ Armed-Forces            10000 non-null  int64
 14  Occupation_ Craft-repair            10000 non-null  int64
 15  Occupation_ Exec-managerial         10000 non-null  int64
 16  Occupation_ Farming-fishing         10000 non-null  int64
 17  Occupation_ Handlers-cleaners       10000 non-null  int64
 18  Occupation_ Machine-op-inspct       10000 non-null  int64
 19  Occupation_ Other-service           10000 non-null  int64
 20  Occupation_ Priv-house-serv         10000 non-null  int64
 21  Occupation_ Prof-specialty          10000 non-null  int64
 22  Occupation_ Protective-serv         10000 non-null  int64
 23  Occupation_ Sales                   10000 non-null  int64
 24  Occupation_ Tech-support            10000 non-null  int64
 25  Occupation_ Transport-moving        10000 non-null  int64
 26  Married                             10000 non-null  int64
 27  Age_normalize                       10000 non-null  float64
 28  Education_years_n                   10000 non-null  float64
 29  Fnlwgt_normalize                    10000 non-null  float64
 30  Work_hours_per_week_n               10000 non-null  float64
 31  Capital_n                           10000 non-null  float64
 32  US_born                             10000 non-null  int64
dtypes: float64(5), int64(28)
memory usage: 2.5 MB

In [10]:
arraytest = test.values
X_test = arraytest[:,1:]
X_scaled_test = preprocessing.scale(X_test)

In [10]:
prob = CL.predict_proba(X_scaled_test)[:,0]

In [11]:
test['Predicted'] = prob

In [12]:
test.drop(test.iloc[:, 1:33], inplace = True, axis = 1) 
test

         ID  Predicted
0     21990       0.01
1      6594       0.01
2     18525       0.07
3     23747       0.04
4     37752       0.01
...     ...        ...
9995  34891       0.81
9996  15512       0.91
9997  27426       0.00
9998  23360       0.35
9999   3426       0.82

[10000 rows x 2 columns]

In [91]:
test.to_csv('Submission6.csv', index=False)