In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("test-pub.csv")
dataset.head()

,ID,Age,Employment class,Fnlwgt,Education level,Education years,Marital status,Occupation,Relationship status,Race,Sex,Capital gain,Capital loss,Work hours per week,Native country
0,21990,24,Private,138768,Assoc-acdm,12,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,30,United-States
1,6594,28,Local-gov,214881,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
2,18525,37,Private,177181,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
3,23747,66,Private,350498,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,28,United-States
4,37752,34,Self-emp-not-inc,56460,HS-grad,9,Married-civ-spouse,Farming-fishing,Wife,White,Female,0,2179,12,United-States

In [3]:
dftest = pd.get_dummies(dataset, columns=["Sex","Race","Marital status","Employment class","Occupation"])

In [4]:
dftest['Married'] = dftest.loc[:,['Marital status_ Married-AF-spouse','Marital status_ Married-civ-spouse','Marital status_ Married-spouse-absent']].sum(axis=1)

In [5]:
dftest['Age_normalize'] = (dftest['Age'] - dftest['Age'].min()
                          )/(dftest['Age'].max() - dftest['Age'].min())
dftest['Education_years_n'] = (dftest['Education years'] - dftest['Education years'].min()
                          )/(dftest['Education years'].max() - dftest['Education years'].min())
dftest['Fnlwgt_normalize'] = (dftest['Fnlwgt'] - dftest['Fnlwgt'].min()
                          )/(dftest['Fnlwgt'].max() - dftest['Fnlwgt'].min())
dftest['Work_hours_per_week_n'] = (dftest['Work hours per week'] - dftest['Work hours per week'].min()
                          )/(dftest['Work hours per week'].max() - dftest['Work hours per week'].min())

In [6]:
Capital = dftest['Capital gain'] - dftest['Capital loss']
dftest['Capital_n'] = (Capital - Capital.mean())/(Capital.std())

In [7]:
dftest = dftest.drop(['Marital status_ Divorced','Marital status_ Married-AF-spouse',
                      'Marital status_ Married-civ-spouse','Marital status_ Married-spouse-absent',
                      'Marital status_ Never-married','Marital status_ Separated',
                      'Marital status_ Widowed','Sex_ Male',
                      'Race_ Amer-Indian-Eskimo','Race_ Asian-Pac-Islander','Race_ Black',
                      'Race_ Other','Education level','Relationship status','Age','Fnlwgt',
                      'Education years','Work hours per week','Capital gain','Capital loss'], axis=1)

In [8]:
dftest['US_born'] = np.where(dftest["Native country"].str.contains("United-States"), 1, 0)
dftest = dftest.drop(['Native country'], axis=1)

In [9]:
dftest

,ID,Sex_ Female,Race_ White,Employment class_ ?,Employment class_ Federal-gov,Employment class_ Local-gov,Employment class_ Private,Employment class_ Self-emp-inc,Employment class_ Self-emp-not-inc,Employment class_ State-gov,...,Occupation_ Sales,Occupation_ Tech-support,Occupation_ Transport-moving,Married,Age_normalize,Education_years_n,Fnlwgt_normalize,Work_hours_per_week_n,Capital_n,US_born
0,21990,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0.095890,0.733333,0.102586,0.295918,-0.128445,1
1,6594,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0.150685,0.533333,0.167896,0.397959,-0.128445,1
2,18525,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0.273973,0.533333,0.135547,0.397959,-0.128445,1
3,23747,0,1,0,0,0,1,0,0,0,...,1,0,0,1,0.671233,0.600000,0.284264,0.275510,-0.128445,1
4,37752,1,1,0,0,0,0,0,1,0,...,0,0,0,1,0.232877,0.533333,0.031960,0.112245,-0.439119,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,34891,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0.465753,0.600000,0.082248,0.397959,-0.491587,1
9996,15512,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0.452055,0.933333,0.097393,0.500000,14.129060,1
9997,27426,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0.109589,0.800000,0.164929,0.397959,-0.128445,1
9998,23360,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0.424658,0.600000,0.146608,0.500000,-0.128445,1
9999,3426,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0.232877,0.800000,0.138902,0.448980,-0.410318,1

In [10]:
dftest.to_csv('readydatatest1.csv', index=False)